@font-face{
    font-family: 'Segoe UI';
    src: url('/Segoe UI Light.ttf') format('truetype')
}
@font-face{
    font-family: 'Open Sans';
    src: url('/OpenSans-Light.ttf') format('truetype')
}
@font-face{
    font-family: 'Segoe UI Semi';
    src: url('/Segoe UI Semibold.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway Semi';
    src: url('/Raleway-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Segoe UI normal';
    src: url('/SEGOEUI.TTF') format('truetype')
}

#advisor .avatar1{
    width: 216px ;
    height: 216px ;
    text-align: center;
}

#advisor .team_member{
    padding: 10px 16px;
    border-style: none;
    border-width: 1px;
    border-color: #f6f6f6;
    border-top: none!important;
    text-align: center;
    width: 216px;

}

#advisor .team_member{
    position: 952px 52px;
    width: 258px 56px;
    padding: 0 12 5 5;
    color: #000;
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    border: solid 2px #a9a9a9;
}

#advisor .team_member p{
    margin-bottom: 7px;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 30px;
    color: #402308;
    font-family: 'Segoe UI Semi' !important;
}

#advisor .team_member span{
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    color: #a9a9a9;
    font-family: "Raleway Semi";
    line-height: 26px;

}

#advisor .social_media{
    margin-top: -10px;
    text-align: center;
    width: 216px;
}

#advisor .MuiButtonBase-root:hover{
    color:#e66000 !important;
}

#advisor .team_words{
    box-sizing: border-box;
    padding: 0 15px 20px 15px;
    width: 100%;
    color: #6b6b6b;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Segoe UI' !important;
    font-weight: 300 !important;
    border:none;
    letter-spacing:0;
}


.words{
    position: relative;
    background-color: #fff;
    margin-top: -50px;
    padding: 36px 15px;
    border: 1px solid #eaeaea;
    font-family: 'Open Sans' !important;
    color: #000 !important;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    text-shadow: none;
    margin-bottom: 0;
    text-align: left;
    z-index: 999;
}
.words:before{
    width: 0;
    content: "";
    height: 0;
    position: absolute;
    left: -20px;
    border-top: 15px solid transparent;
    border-right: 20px solid #eaeaea;
    border-bottom: 15px solid transparent;
    top: 26px;
}
.words:after{
    width: 0;
    content: "";
    height: 0;
    position: absolute;
    left: -18px;
    border-top: 14px solid transparent;
    border-right: 19px solid #fff;
    border-bottom: 14px solid transparent;
    top: 27px;
}

.author div{
    margin: 0 auto;
    color: #b9b9b9;
    font-size: 11px;
    line-height: 26px;
    vertical-align:baseline;
    text-align: center;
    font-family: "Raleway Semi";
}


.avatar{
    width: 183.3px !important;
    height: 183.3px !important;
}
.author{
    width: 183.3px;
}

.author p{
    font-weight: 600;
    font-family: 'Segoe UI';
    color: #402308;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.363157894736842em;
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

#contact .contact_us{
    min-height: 390px;
    text-align: center;
    padding-top: 70px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover !important;
    background-image: url("/contact_img.jpg");
}

#contact .email_us{
    padding-top: 60px;
    min-height: 390px;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover !important;
    background-image: url("/email_img.jpg");
}

#contact .contact_us .MuiTypography-h2{
    color: #ffffff;
    font-size: 36px;
    font-style: normal;
    font-family: 'Segoe UI';
    font-weight: 600 ;
    letter-spacing: 0px;
}

#contact .contact_us .location_icon{
    margin-top: 25px;
    color: #ffffff;
    margin-bottom: 10px;
}

#contact .contact_us p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Segoe UI';
    line-height: 36px;
}

#contact .contact_us .email_icon{
    margin-top: 25px;
    color: #ffffff;
}

#contact .email_us .MuiSvgIcon-root{
    color: #84817e;
}

#contact .email_us .MuiFab-primary{
    margin-left: 250px;
    background-color: #402308;
    font-size: 18px;
}

#footer .sign_up{
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Segoe UI Semi';
    line-height: 40px ;
    letter-spacing: 1px !important;
    text-align: center;
    color: #ffffff;
}

#footer .MuiPaper-rounded{
    border-radius: 60px;
}

#footer .MuiFab-label{
    font-size: 18px;
    font-family: "Open Sans";
}

#footer .MuiFab-primary{
    background-color: #56a317;
}
#footer .MuiIconButton-root{
    background-color: #e4e4e4;
}
#footer .MuiIconButton-label{
    color: #402308;
}
#footer .MuiIconButton-label:hover{
    color: #e66000;
}

#footer .copy_right{
    margin-top: 18px;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.header{
    background-image: url("/Leapsheep-header.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}
.header_inner_left{
    min-width: 253px;
    top: 0;
}
.logo_wrapper{
    height: 70px;
}
.q_logo{
    top: 50%;
}
.q_logo{
    position: relative;
}
.q_logo a{
    display: block;
    position: relative;
    height: 47px;
}
.q_logo img{
    display: block;
    position: absolute;
    top: -50%;
    width: auto!important;
    max-width: 220px;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    height: 100%;
}

.navitem span{
    color:white;
    text-decoration: none;
    font-family: 'Segoe UI normal';
    font-size: 16px ;
    font-style: normal;
}
.navitem a{
    color:white;
    text-decoration: none;
    font-family: 'Segoe UI normal';
    font-size: 16px ;
    font-style: normal;
}

.MuiListItem-root a:hover{
    color:white;
}
.selected_nav{
    color:#402308 !important;
}

.navitem a:hover{
    color:#402308;
}

.navitem span:hover{
    color:#402308;
}

.nopadding{
    padding: 0 !important;
}

.MuiList-root{
    background-color: #e66000 !important;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px ;
    font-style: normal;
    min-width: 200px;
}
.MuiButtonBase-root a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px ;
    font-style: normal;
}

.MuiButtonBase-root{
    font-family: "Segoe UI";
}
@media only screen and (min-width: 1001px){
    .hide_button {
        display: none !important;
    }
    .hide_button_grid{
        display: none !important;
    }
}
@media only screen and (max-width: 1000px){
    .navitem {
        display: none !important;
    }
}

.story_outer{
    padding-top: 68px;
    padding-bottom: 68px;
}

.testimonials{
    padding-bottom: 45px;
    text-align: center;
    color: #402308;
    font-size: 36px;
    font-style: normal;
    font-family: "Segoe UI";
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.384615384615385em;
}

#services .icon_text_holder{
    padding:0 0 0 72px;
}

#services .icon_title{
    padding-top: 18px;
    margin-left: 30px;
    line-height: 30px;
}

#services .service{
    background-color: #f9f9f9 !important;
    border: 1px solid #eaeaea;
    padding: 37px 20px;
    min-height: 360px;
    border-radius: 5px;
}

#team .avatar1{
    width: 216px ;
    height: 216px ;
    text-align: center;
}

#team .team_member{
    padding: 10px 16px;
    border-style: none;
    border-width: 1px;
    border-color: #f6f6f6;
    border-top: none!important;
    text-align: center;
    width: 216px;
}

#team .team_member p{
    margin-bottom: 7px;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 30px;
    color: #402308;
    font-family: 'Segoe UI Semi' !important;
}

#team .team_member span{
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    color: #a9a9a9;
    font-family: "Raleway Semi";
    line-height: 26px;

}

#team .social_media{
    margin-top: -10px;
    text-align: center;
    width: 216px;
}

#team .MuiButtonBase-root:hover{
    color:#e66000 !important;
}

#team .team_words{
    box-sizing: border-box;
    padding: 0 15px 20px 15px;
    width: 100%;
    color: #6b6b6b;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Segoe UI' !important;
    font-weight: 300 !important;
    border:none;
    letter-spacing:0;
}

#team .MuiGrid-root:last-child{
    margin-bottom: 0 !important;
}

.stories{
    background-color: #f9f9f9 !important;
    border: 1px solid #eaeaea;
    padding: 37px 20px;
    max-height: 245px;
    border-radius: 5px;

}

.service{
    background-color: #f9f9f9 !important;
    border: 1px solid #eaeaea;
    padding: 37px 20px;
    min-height: 360px;
    border-radius: 5px;
}

.icon_holder{
    float: left;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.icon_holder img{
    width: inherit !important;
    margin-top: 6px;
}
.icon_text_holder{
    padding: 0 0 0 58px ;
    position: relative;
}

.icon_text_inner{
    min-height: 43px;
    padding: 0 0 18px;
}

.icon_title{
    line-height: 49px;
    color: #402308;
    font-family: 'Segoe UI' !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    letter-spacing: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
}

.story_content p{
    font-size: 16px ;
    font-weight: 300 ;
    line-height: 24px ;
    color: #6b6b6b;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
}


.showimage{
    margin-top: -70px;
    max-height: 550px;
    background-image:url("/showimage.jpg") ;
    padding: 239px 0 192px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI' !important;
    font-weight: 600 !important;
    text-transform: none;
    font-size: 48px;
    line-height: 55px;
    color: white;
}

.google_map{
    padding: 0 !important;
}


@media (max-width: 767px) and (min-width: 200px){
    .showimage {
        font-size: 30px;
    }
}

#career .hiring{
    color: #402308;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.4;
    font-family: 'Segoe UI Semi';
}

#career .hiring_content{
    color: #6b6b6b;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
}

.hiring_content strong{
    color: black;
}


body{
    letter-spacing: 0 !important;
}

/* carousal */
.Carousel {
    position: relative;
}
.Carousel .Indicators {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.Carousel .Indicators .Indicator {
    font-size: 15px;
    cursor: pointer;
    transition: 200ms;
    color: #afafaf;
}
.Carousel .Indicators .Indicator.Active {
    color: #494949;
}
.Carousel .Indicators .Indicator:hover, .Carousel .Indicators .Indicator:active {
    color: #1f1f1f;
}
.Carousel .ButtonWrapper {
    position: absolute;
    height: calc(100% - 20px - 10px);
    background-color: transparent;
    top: 0;
}
.Carousel .ButtonWrapper.Next {
    right: 0;
}
.Carousel .ButtonWrapper.Prev {
    left: 0;
}
.Carousel .ButtonWrapper:hover > .Button {
    background-color: black;
    filter: brightness(120%);
    opacity: 0.4;
}
.Carousel .Button {
    margin: 0 10px;
    position: relative;
    top: calc(50% - 20px);
    background-color: #494949;
    color: white;
    opacity: 0 !important;
    font-size: 30px;
    transition: 200ms;
    cursor: pointer;
}
.Carousel .Button.Next {
    right: 0;
}
.Carousel .Button.Prev {
    left: 0;
}
.Carousel .Button:hover {
    opacity: 0.6 !important;
}

